@media screen and (max-width: 1400px){
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;

    }
    
    #desktop-nav{
        display: none;
    }
    
    #hamburger-nav{
        display: flex;
    }
}

@media screen and (max-width: 1399px){
    #profile {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center the items */
        justify-content: center; /* Center the content along the main axis */
        gap: 1rem; /* Adjust gap between items */
    }

    .section__pic-container {
        order: -1;
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .section__pic-container img {
        width: 100%;
        height: auto;
        max-width: 300px;
        border-radius: 50%;
    }

    .section__text {
        order: 1; /* Ensure the text container stays below the picture */
        text-align: center;
    }
}

@media screen and (max-width: 1200px){
    
    #desktop-nav{
        display: none;
    }
    
    #hamburger-nav{
        display: flex;
    }
    
    #experience, .experience-details-container{
        margin-top: 2rem;
    }
   
    #profile, .section-container{
        display:block;
    }
    
    .arrow{
        display:none;
    }
    
    section, .section-container{
        height:fit-content;
    }
    
    section{
        margin: 0 5%;
    }

    .about-containers {
        margin-top: 0;
    }
    
    /* .section-pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;

    } */

    #profile {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center the items */
        justify-content: center; /* Center the content along the main axis */
        gap: 1rem; /* Adjust gap between items */
    }

    .section__pic-container {
        order: -1;
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .section__pic-container img {
        width: 100%;
        height: auto;
        max-width: 300px;
        border-radius: 50%;
    }

    .section__text {
        order: 1; /* Ensure the text container stays below the picture */
        text-align: center;
    }

    /* .contact-container{
        margin-top:2rem;
    } */
    
}

@media screen and (max-width: 600px) {
    #contact{
        height: 40vh;
    }

    footer {
        height: 40vh;
        margin-bottom: 2rem;
    }

    #profile{
        height:83vh;
        margin-bottom: 0;
    }

    article{
        font-size: 1rem;
    }

    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, 
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-container{
        /* margin:0; */
        flex-wrap: wrap;
        /* padding-bottom: 2rem; */
    }
    
    .contact-container p,
    .nav-links li a{
        font-size: 1rem;
    }

    .experience-sub-title{
        font-size: 1.25rem;
    }

    .logo{
        font-size: 1.5rem;
    }

    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section-pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text_p2{
        font-size: 1.25rem;
    }

    .title{
        font-size: 2rem;
    }

    .text-container{
        text-align: justify;
    }
}

/* iPhone SE sizing */
@media screen and (max-width: 375px) {
    
    .contact-container{
        padding-bottom: 3rem;
    }
}