/* ******** */
/* GENERAL */
/* ******** */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    /* TODO: Experiment with Background color
    /* Will have to change color of text to lighter color for readability */
    /* background-color:whitesmoke; */
    background: #021526;
}

html {
    scroll-behavior: smooth;
}

p {
    /* color: rgb(85, 85, 85) */
    color: #6EACDA;
}

h1 {
    text-decoration: underline .33rem;
    text-underline-offset: 1rem;
}

h2 {
    color:#6EACDA;
}

h3 {
    color:#E2E2B6;
}

#desktop-nav {
    /* background-image: linear-gradient(whitesmoke,rgb(202, 194, 194)); */
}

/* ********** */
/* TRANSITION */
/* ********** */

a, .btn{
    transition: all 300ms ease;
}

/* ************ */
/* DESKTOP NAV */
/* ************ */

nav, 
.nav-links{
    display: flex;
}

nav{
    justify-content:space-around;
    align-items: center;
    height: 10vh;
}

.nav-links{
    gap: 2rem;
    list-style:none;
    font-size: 1.5rem;
}

a {
    /* color: black; */
    color: #6EACDA;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px; /* The distance between text and underline */

}

a:hover{
    /* color: rgb(94, 92, 92); */
    color: #E2E2B6;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    /* underline color */
    /* background-image: linear-gradient(90deg, rgb(94, 92, 92), rgb(94, 92, 92)); */
    background-image: linear-gradient(90deg, rgb(226, 226, 182), rgb(226, 226, 182));
    background-size: 0 2px; /* vertical size of underline */
    background-repeat: no-repeat;
    background-position: left bottom; /* start position of underline */
    transition: background-size .3s ease-in; /* duration and timing style of animation */
  }
  
  a:hover::before {
    background-size: 100% 2px;
  }

.logo{
    font-size: 1.5rem;
    /* color:black; */
    color: #6EACDA;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 3px solid black; */
    border: 3px solid #6EACDA;
    border-collapse: separate;
    padding: 3px;
}

.logo:hover{
    cursor: default;
}

/* *************************** */
/* HAMBURGER MENU - for mobile */
/* *************************** */

#hamburger-nav{
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color:#6EACDA;  
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    /* background-color:#021526; */

    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all;
}

/* .menu-links */

.menu-links a {
    display:block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color:#6EACDA ;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px)
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px)
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

/* ********* */
/* SECTIONS */
/* ********* */

section {
    padding-top:10rem;
    /* height: 96vh; */
    height: fit-content;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* *************** */
/* Profile Section */
/* *************** */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    /* height: 80vh; */
}

.section__pic-container {
    display:flex;
    height: 300px;
    width: 250px;
    margin: auto 0;
}

img{
    border-radius: 50%;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
    font-size: 1rem;
    /* margin-bottom: 1rem; */
}

.section__text__p2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    /* font-style:italic; */
}

.title {
    font-size: 3rem;
    text-align: center;
    /* color:black; */
    color: #6EACDA;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ***** */
/* ICONS */
/* ***** */

.icon {
    /* cursor: pointer; */
    height: 2rem;
    /* opacity: .75; */
}    

.socials-icon {
    cursor: pointer;
    height: 2rem;
    opacity: .5;
}    


.socials-icon:hover{
    opacity: 1;
}

/* ******** */
/* BUTTONS */
/* ******** */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: .25rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2 {
    border: rgb(53,53,53) 0.1rem solid;
}

/* .btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
} */

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
    /* background: rgb(53,53,53); */
    background: black;
    color:#E2E2B6;
}

/* .btn-color-1:hover {
        background: rgb(0,0,0);
} */

/* .btn-color-2 {
    background: none;
} */

.btn-color-2:hover {
    border: rgb(255,255,255) 01.rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ************* */
/* About section */
/* ************* */

#about {
    position:relative;
    justify-content: center;
}

.about-containers {
    gap:2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.about-containers, 
.about-details-container {
    display: flex;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1rem;
    flex: 1;
    /* background: white;     */
    /* background: #E2E2B6; */
    /* background-colo */
    border-radius: 2rem;
    /* border: rgb(53,53,53) 0.1rem solid; */
    border:#6EACDA 0.1rem solid;
   
    text-align: center;
}

.section-container {
    /* margin-top: 2rem; */
    gap: 4rem;
    height: 80%;
}

.text-container {
    text-align: center;
}


/* ************* */
/* Experience section */
/* ************* */

/* #experience {
    position: relative;
}

.experience-sub-title {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

.article-icon {
    cursor:default;
} */

/* **************** */
/* PROJECTS SECTION */
/* **************** */

#projects {
    position: relative;
}

.color-container {
    /* border-color: rgb(163,163,163); */
    /* background: rgb(255,255,255); */
    background: transparent;
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163,163,163);
}

.project-title{
    color:#6EACDA;
}

/* *************** */
/* CONTACT SECTION */
/* *************** */

#contact{
    position: relative;
}

.contact-container{
    width: 100%;
    height: 75vh;
    /* background: #001660; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #ff5361;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 20px;
}

/* ************** */
/* FOOTER SECTION */
/* ************** */

footer{
    height: 10vh;
    margin: 0 1rem;
    margin-top: 10rem;
    /* position: relative; */
    /* padding: 200px 0; */
    /* min-height: 10vh; */
    position: static;
    margin-bottom: 3rem;
}

footer p{
    text-align: center;
}